<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery-3.6.4.min.js"></script>
    <script src="/bootstrap.min.js"></script>
<!--    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css"/>

    <title>Interactive Whiteboard</title>

</head>
<body>



      <nav>
       
        <ul>
            <% if (currentUser) { %>
                <% if (currentUser.userType === "professor") { %>
                    <li> <a href="/teacher">Home</a></li>
                <% } %>
            <% } else { %>
                <li> <a href="/">Home</a></li>
            <% } %>
            <li> <a href="/board">Drawing</a></li>
            
            <% if (currentUser) { %>

            <% if (currentUser.userType === "student") { %>
            <li>
                <a id="aboutBtn" href="/rooms">Group Activity</a>
            </li>
            <% } %>
            <% } %>

            <% if (!currentUser) { %>
            <li>
                <a id="loginBtn" href="/login">Login</a>
            </li>
            <li>
                <a  href="/register">Sign up</a>
            </li>
            <% } else { %>
            <li>
                <a id="logoutBtn" href="/logout">Logout</a>
            </li>
           
            <% } %> 
     
        </ul>
      </nav>

<main>
    <section class="intro">
        <h1>Welcome to the Interactive Whiteboard!</h1>
        <p>
            This application offers an intuitive and user-friendly platform for
            users to collaborate and work on digital whiteboards in real-time.
            Share your ideas, brainstorm, sketch, and communicate with your team
            seamlessly. Sign in to start using the Interactive Whiteboard now!
        </p>
    </section>
</main>

<script>
    
    const loginBtn = document.getElementById("loginBtn");
    const closeBtn = document.getElementById("closeBtn");
    const loginNav = document.getElementById("loginNav");
    const loginForm = document.getElementById("loginForm");
    const drawingBtn = document.getElementById("drawingBtn");
    const logoutBtn = document.getElementById("logoutBtn");
    let listUser = null;
    // try on session check

    /*
    function checkSession() {
        fetch("/auth/check-session", {
            method: "GET",
            credentials: "include"
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("No session");
                }
            })
            .then(data => {
                console.log("Session data:", data);
                updateUIAfterLogin();
            })
            .catch(error => {
                console.log(error.message);
            });
    }
    // Add this function to update the UI after a successful login
    function updateUIAfterLogin() {
        loginBtn.style.display = "none";
        logoutBtn.style.display = "inline";
    }
    // Call the checkSession function when the page loads
    checkSession();
    
    drawingBtn.addEventListener("click", () => {
        // window.location.href = '/board';
        if (listUser) {
            const { username, password, userType } = listUser;
            window.location.href = `/board?username=${username}&password=${password}&userType=${userType}`;
        } else {
            alert('Please log in first.');
        }
    });
    loginBtn.addEventListener("click", () => {
        loginNav.classList.toggle("visible");
    });
    closeBtn.addEventListener("click", () => {
        loginNav.classList.remove("visible");
    });
    loginForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const userType = document.querySelector('input[name="userType"]:checked').value;
        console.log(JSON.stringify({username, password, userType}));
        fetch("/auth/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({username, password, userType}),
        })
            .then((response) => {
                if (response.ok) {
                    // location.reload();
                    updateUIAfterLogin();
                    listUser = {
                        username: username,
                        password: password,
                        userType: userType,
                    };
                    // window.location.href = '/board';
                } else {
                    throw new Error("Login failed");
                }
            })
            .catch((error) => {
                alert(error.message);
            });
    });
    logoutBtn.addEventListener("click", () => {
        fetch("/auth/logout", {
            method: "GET",
            credentials: "include"
        })
            .then(response => {
                if (response.ok) {
                    loginBtn.style.display = "inline";
                    logoutBtn.style.display = "none";
                } else {
                    throw new Error("Logout failed");
                }
            })
            .catch(error => {
                alert(error.message);
            });
    });
    */
</script>
</body>
</html>