<%- include('head')%>
<body>

    <div class="container">
        <div id="rooms">
            <h2>Join rooms</h2>
        
        <a id="joinRoom" class="btn" href="/rooms/<%= group._id %>"><%= group.group %></a>
        </div>
        
    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>

    

    </script>
    <script src="/script.js"></script>
</body>
</html>